@import url('https://fonts.googleapis.com/css?family=Charm');
@import url('https://fonts.googleapis.com/css?family=Amita');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');


@media only screen and (max-width: 992px) {
  .nav-name-hide{
    display: none;
  }
}
.nav-name-font{
  font-family: 'Charm';
}
.f-trans{
  transition: font-size .7s;
}
.f-hi:hover{
  font-size: 2em;
  color: pink;
}
.f-i:hover{
  font-size: 20px;
  color: pink;
}
.f-my:hover{
  font-size: 3rem;
  color: pink;
}
.f-t:hover{
  font-size: 20px;
  color: pink;
}
.f-lo:hover{
  font-size: 20px;
  color: pink;
}
.f-c:hover{
  font-size: 20px;
  color: pink;
}

.scroll-link{
  cursor: pointer;
  font-family:arial;
  color: gray;
}
.scroll-link:hover{
  color: black;
}
.intro-font{
  font-family: 'Amita'
}

.card:hover{
  transform: scale(1.01);
}
.f-title{
  font-family: 'Charm';
  font-size: xx-large;
}
.f-card-title{
  font-family: 'Inconsolata';
}
.f-card-col{
  color: rgb(143, 58, 72);
}
.about-me-col{
  background-color: #b4aee8;
  color: black;
  border: 10px solid;
}
.form-border{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
.form-border:focus{
  outline: none;
}
@media only screen and (max-width: 600px) {
  .margin-top{
    margin-top: 70px;
  }
  .about-me-card-h{
    height: 35rem
  }

}

@media only screen and (min-width: 600px) {
  .margin-top{
    margin-top: 70px;
  }
  .about-me-card-h{
    height: 35rem
  }
  .work-card{
    height: 35rem;
  }
}

@media only screen and (min-width: 768px) {
  .margin-top{
    margin-top: 115px;
  }
  .intro-font-size{
    font-size: x-large;
  }
  .about-me-card-h{
    height: 35rem
  }
  .pf-card-h{
    height: 17rem;
  }
  .work-card{
    height: 30rem;
  }
}

@media only screen and (min-width: 992px) {
  .margin-top{
    margin-top: 115px;
  }
  .intro-font-size{
    font-size: xx-large;
  }
  .about-me-card-h{
    height: 31rem
  }
  .pf-card-h{
    height: 15rem;
  }
  .work-card{
    height: 25rem;
  }
}

@media only screen and (min-width: 1200px) {
  .margin-top{
    margin-top: 115px;
  }
  .intro-font-size{
    font-size: xx-large;
  }
  .about-me-card-h{
    height: 29rem
  }
  .pf-card-h{
    height: 14rem;
  }
  .work-card{
    height: 25rem;
  }
}