.f-trans{
  transition: font-size .7s;
}
.f-hi:hover{
  font-size: 2em;
  color: pink;
}
.f-i:hover{
  font-size: 20px;
  color: pink;
}
.f-my:hover{
  font-size: 3rem;
  color: pink;
}
.f-t:hover{
  font-size: 20px;
  color: pink;
}
.f-lo:hover{
  font-size: 20px;
  color: pink;
}
.f-c:hover{
  font-size: 20px;
  color: pink;
}

.scroll-link{
  cursor: pointer;
  color: gray;
}
.scroll-link:hover{
  color: black;
}

.f-title{
  font-size: xx-large;
}
.about-me-col{
  background-color: #b4aee8;
  color: black;
}
.form-border{
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: #eee;
}
.form-border:focus{
  outline: none;
}
.about{
  border: 2px solid #bfb2b2;
  border-radius: 10px;
  font-size: 22px;
}
@media only screen and (max-width: 600px) {
  .margin-top{
    margin-top: 70px;
  }
  .about{
    border: 2px solid #bfb2b2;
    border-radius: 10px;
    font-size: 15px;
  }
  /* .work{
    height: 350px;
  } */

}

@media only screen and (min-width: 600px) {
  .margin-top{
    margin-top: 70px;
  }
.about{
    border: 2px solid #bfb2b2;
    border-radius: 10px;
    font-size: 15px;
  }
  .work{
    height: 440px;
  }

}

@media only screen and (min-width: 768px) {
  .margin-top{
    margin-top: 115px;
  }
  .intro-font-size{
    font-size: x-large;
  }
  .about{
    border: 2px solid #bfb2b2;
    border-radius: 10px;
    font-size: 22px;
  }
  .work{
    height: 400px;
  }
}

@media only screen and (min-width: 992px) {
  .margin-top{
    margin-top: 115px;
  }
  .intro-font-size{
    font-size: xx-large;
  }
}

@media only screen and (min-width: 1200px) {
  .margin-top{
    margin-top: 115px;
  }
  .intro-font-size{
    font-size: xx-large;
  }
}