.bg-color{
  background-color: #f6f6f6;
}

.badge{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-scroll-t-btn{
  display: none;
}
.scroll-t-btn{
  position: fixed;
  bottom: 3%;
  z-index: 10;
  background-color: #b4aee8; 
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
}